{% extends "layout/layout.html" %}
{% block title %} Register {% endblock %}

{% block content %}
<div class="w-full max-w-[1366px] mx-auto absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2">
    <form method="POST" class="max-w-sm w-[60%] mx-auto ">
        <h1 class="text-2xl font-bold mb-4">Login to your accout 🧑🏼‍💻</h1>
        
        <div class="mb-5">
            <label for="username" class="block mb-2 text-sm font-medium text-gray-900">Your username</label>
            <input
                type="text"
                id="username"
                name="username"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-sky-500 focus:border-sky-500 block w-full p-2.5"
                placeholder="johndoe"
                required
            >
        </div>
        <div class="mb-5">
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900">
                Your
                password
            </label>
            <input
                type="password"
                id="password"
                name="password"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-sky-500 focus:border-sky-500 block w-full p-2.5"
                required
                placeholder="Must have 6 characters"
            >
            <p class="text-sm mt-1">Don't have an account? <a class="text-sm font-semibold text-sky-500 underline mt-1" href="{{ url_for('auth.register') }}">Register</a></p>

        </div>

        <button type="submit" class="text-white bg-sky-500 hover:bg-sky-600 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Submit</button>
    </form>
</div>
{% endblock %}
